.main-style {
  margin: 0 120px 0 120px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .main-style {
    margin: 0 10px 0 10px;
  }
  .carousal-view {
    display: none;
  }
  .dream-img {
    display: none;
  }
  .input-email {
    width: 0px;
  }
  .why-layout {
    font-size: 10px;
  }
  .work-heading {  
    font-style: initial;
    font-size: 29px;
    text-align: center;
    font-weight: 640;
  }
  .scribble-img {
    margin: auto;
    text-align: center;
    width: 191px;
  }
  .sub-works {  
    font-size: 15px;
    font-weight: 640;
  }
  .stat-style {
    padding: 15px;
  }
  .big-text {
    font-weight: 800;
    font-size: 52px;
  }
  .sml-text {
    font-size: 21px;
    font-weight: 700;
  }
  .why-box {
    text-align: center;
  }
  .circle-center {
    text-align: center;
      margin: auto;
      width: 50%;
  }
  .why-sub {
    font-size: 15px;
  }
  .input-email {
    border: none;
    width: 162px;
    height: 44px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    padding-left: 20px;
  }
  .faq-style {
    margin-left: -70px;
    margin-right: -150px;
    font-size: 0.875rem;
  }
  .faq-heading {
    font-size: 0.875rem;
    font-weight: 600;
  }
  .faq-head {
    margin-left: -70px;
    margin-right: -150px;
    text-align:center; 
    font-weight:bold; 
    padding-bottom: 15px;
  }
  .faq-mobile {
    padding: 20px;
  }
  .geniuls-points {
    display: none;
  }
  .info-style {
    margin-right: 0px;
  }
  .footer-subtext {
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .footer-style {
    font-size:15px;
  }
  .intro-mbl{
    flex: 0 0 auto !important;
    width: 83.33333333% !important;
  }
  .horizontal__animation__container{
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 600;
    display: flex;
  }

  .geniuls-desc {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: -61px;
    margin-right: -27px;
  }

  .simple-text {
    /* margin-left: -51px; */
  }

  /* .typewriter-animate {
    padding-left: -10px;
  } */

  .main-points {
    color: orangered;
    font-weight: 833;
    font-size: 23px;
    /* white-space: nowrap; */
  }
}

@media only screen and (min-width: 768px) {
  .horizontal__animation__container{
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 600;
    display: flex;
  }
  .why-layout {
    margin: 0 120px 0 120px;
  }
  .work-heading {  
    font-style: initial;
    font-size: 40px;
    font-weight: 640;
  }
  .sub-works {  
    font-style: initial;
    font-size: 20px;
    font-weight: 640;
    line-height: 2.5rem;
  }
  .vl {
    border-left: 1.5px solid rgb(187, 185, 185);
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
  }
  .big-text {
    font-weight: 800;
    font-size: 30px;
  }
  .sml-text {
    font-size: 15px;
  }
  .input-email {
    border: none;
    width: 400px;
    height: 44px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    padding-left: 20px;
  }

  .faq-style {
    margin-right: -100px;
  }

  .geniuls-desc {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 21px;
  }

  .main-points {
    color: orangered;
    font-weight: 833;
    font-size: 25px;
  }
}

.caousal-photo {
  margin-top: -3px;
  padding-left: 54px;
  width: 605px;
  margin-left: 89px;
}

.faq-head {
  text-align:center; 
  font-weight:bold; 
  padding-top:70px
}


.logo-img {
  position: relative;
  /* height: 80px;
  width: 80px;
  max-width: 100px;
max-height: 100%; */
  /* position: absolute; */
}

.footer-style {
  font-family: 'IBM Plex Sans',sans-serif;
}

.why-head {
  font-weight: 700;
  font-size: 20px;
}

.why-box {
  margin: 0%;
  border: 0px;
  padding: 0px;
}



.socal-link {
  color: white;
}

.socal-link:hover{
  color: white;
}

.footer-subtext {
  color: darkgrey;
  /* margin-top: 0; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
  text-decoration: none;
}

.footer-subtext:hover {
  color: darkgray;
}

.works-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  position: relative;
  padding-inline: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  opacity: 100;
  z-index: 1;
  font-weight: 700;;
  font-size: 15px; 
}

.hook-points{
  font-size: 32px;
}
.imp-text{
  font-size: 18px; 
}

.email-send {
  margin: 0px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-left: -18px;
}

.nav-comp {
  text-transform: uppercase;
  font-weight: 500;
}

.nav-gap {
  padding-left: 10px;
  padding-right: 10px;
}

.register-button {
  background-color: #3C2A21;
  border: 1px solid #3C2A21;
  border-radius: 0.375rem;
  color: white;
  padding: 0.3rem 1.2rem;
  margin: 0;
}

.register-button:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: black;
}

.carousel-indicators li { display:none; }

.catalog-img {
  height: 256px;
  width: auto;
  margin-left: 37px;
  margin-top: -79px;
}

.stat-style {
  text-align: center;
  align-items: center;
  color: #40070A;
}

.mid-text {
  font-size: 20px;
}

.enrollButton {
  margin-left: 20px;
  margin-top: 25px;
  font-size:17px;
  font-family:Arial;
  width:200px;
  height:42px;
  border-width:0px;
  color:rgba(32, 31, 31, 1);
  border-color:#C1D3FE;
  font-weight:bold;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow: 1px 8px 0px 1px #fff;
  background:#C1D3FE;
}

.enrollButton:hover{
  background: white;
  color: black;
  border-color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.get-started:hover{
  cursor: pointer;
}

.background-filter::after {
  -webkit-backdrop-filter: blur(5px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(5px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
}

.background-filter {
  position: relative;
}

.background {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/6/62/Kermit_the_Frog.jpg');
  /* background-color: url('http://getwallpapers.com/wallpaper/full/b/8/c/718595-download-dark-purple-backgrounds-1920x1200-for-phone.jpg'); */
  width: 200px;
  height: 200px;
}

/* Use for content that should not be blurred */
.u-non-blurred {
  position: relative;
  z-index: 1;
}

.numberCircle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;

  background: rgb(231, 119, 29);
  border: 2px solid;
  color: #fff;
  text-align: center;

  font: 20px Arial, sans-serif;
  font-weight: 700;
}

.OurMInd{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  overflow: hidden;
}
.OurMInd h1{
  font-size: 40px;
}
.OurMInd h2{
  font-size: 30px;
  margin-top: 20px;
  color:rgb(65, 63, 63);
}

.CompanyLogoContainer{
  /* width: 100%;
  height: 100%; */
  margin:0px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CompanyLogoUP_part1,.companyLogoDown_part1{
  display: flex;

}
.CompanyLogoUp,.CompanyLogoDown{
  display: flex;
  animation-name: HiringPartnersAnimation;
  animation-duration:30s;
  animation-iteration-count: infinite;
  animation-play-state:running;
  animation-direction: reverse;
  animation-delay: 0ms;
  animation-timing-function: linear;

}
.CompanyLogoUp:hover,.CompanyLogoDown:hover{
  animation-play-state:paused;
}
.HiringPartners{
  width: auto;
  overflow: hidden;
}

@keyframes HiringPartnersAnimation{
  0%{
      transform: translateX(-1300px);
    } 
}

/* .horizontal__animation__container{
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 600;
  display: flex;
} */

.horizontal__animation__words{
  background-color: white;
  height: 80px;
  display: inline-block;
  margin-left: 25px; 
}

@keyframes slide_words{
  0%{
      /* transform: translateY(-72px); */
      opacity:0;
      transform: translateX(72px);
  }
  2%{
      opacity:1;
      transform: translateX(10px);
  }
  28%{
      /* transform: translateX(-144px); */
      opacity:1;
      transform: translateX(0px);
  }
  30%{
      /* transform: translateX(-216px); */
      opacity:0;
      transform: translateX(-72px);
  }
  100%{
      opacity: 0;
      transform: translateX(-72px);
  }
}


.horizontal__animation__words p{
  position: absolute;
  height: 100%;
  overflow: hidden;
  animation: slide_words 6s linear infinite;
  opacity: 0;
}

.horizontal__animation__words p:nth-child(1){
  animation-delay: 0s;
}
.horizontal__animation__words p:nth-child(2){
  animation-delay: 3s;
}

.vertical__animation__container{
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 600;
  /* margin: 100px */
}

.vertical__animation__words{
  background-color: white;
  height: 70px;
  display: inline-block;
}

@keyframes spin_words{
  0%{
      /* transform: translateY(-72px); */
      opacity:0;
      transform: translateY(-72px);
  }
  2%{
      opacity:1;
      transform: translateY(10px);
  }
  28%{
      /* transform: translateY(-144px); */
      opacity:1;
      transform: translateY(0px);
  }
  30%{
      /* transform: translateY(-216px); */
      opacity:0;
      transform: translateY(72px);
  }
  100%{
      opacity: 0;
      transform: translateY(72px);
  }
}

.vertical__animation__horizontal__component{
  position: absolute;
  height: 100%;
  overflow: hidden;
  animation: spin_words 18s linear infinite;
  opacity: 0;
  width: 700px
}


.vertical__animation__horizontal__component:nth-child(1){
  animation-delay: 0s;
}
.vertical__animation__horizontal__component:nth-child(2){
  animation-delay: 6s;
}
.vertical__animation__horizontal__component:nth-child(3){
  animation-delay: 12s;
}